*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    background-color: #000;
}

body{
    position: absolute;
}

.smart-img-box{
    width: 320px;
    height: 240px;
    background-image: url(bg_sakura.png);
    background-size: cover;
    background-attachment: fixed;
}

.thankyou{
    width: 320px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    top: 75px;
}

.path{
    stroke:#fff;
    fill:none;
    stroke-width:1;    
    stroke-dasharray: 3000;
    stroke-dashoffset:3000;
    -moz-animation:DASH 5s ease-in 0s forwards;
    -webkit-animation:DASH 5s ease-in 0s forwards;
    -o-animation:DASH 5s ease-in 0s forwards;
    animation:DASH 5s ease-in 0s forwards;
    -webkit-transition:all 5s ease-in;transition:all 0s ease-in-out; 
}

@keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:none;}
    80% {stroke-dashoffset:2000;fill:#fff;}
    100%{stroke-dashoffset:0;fill:#fff;}
}

@-moz-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:none;}
    80% {stroke-dashoffset:2000;fill:#fff;}
    100%{stroke-dashoffset:0;fill:#fff;}
}

@-webkit-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:none;}
    80% {stroke-dashoffset:2000;fill:#fff;}
    100%{stroke-dashoffset:0;fill:#fff;}
}

@-o-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:none;}
    80% {stroke-dashoffset:2000;fill:#fff;}
    100%{stroke-dashoffset:0;fill:#fff;}
}

@-ms-keyframes DASH{
    0%  {stroke-dashoffset:3000;fill:none;}
    80% {stroke-dashoffset:2000;fill:#fff;}
    100%{stroke-dashoffset:0;fill:#fff;}
}